<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Users Profile
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="Add"><b>Create your travel proffile</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Passports" asp-action="Edit"><b>Fill passport details</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="PassengerInfo"><b>Your travel profill</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Flights
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Search"><b>Search for flights</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="All2"><b>All flights for users</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Luggage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Search"><b>Search for luggage</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Create"><b>Create your luggage</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    }
    @if (this.User.IsInRole("Admin"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Create
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="Create"><b>Create Avio Company</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="Create"><b>Create new Airport</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Create"><b>Create new flight</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="Create"><b>Create new plane</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Create"><b>Create your luggage</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Seats" asp-action="Create"><b>Create seats</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Reference
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="All"><b>All flights</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="All"><b>All countries</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="All"><b>All cities</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="All"><b>All planes</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="All"><b>All airports</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="All"><b>All avio companies</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="GetFlightById"><b>GetFlightById</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Search"><b>Search for Flight</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Search"><b>Search for luggage</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More options
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="GetAllPassengers"><b>All Passengers</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Stripe" asp-action="GetAllPayments"><b>All Payments</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="GetAllTickets"><b>All Tickets</b></a>
                <div class="dropdown-divider"></div>

            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Add"><b>Add new city</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Add"><b>Add country</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="TravelLines" asp-action="Create"><b>Add new travel line</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="AddPlane"><b>Add plane to avio copm</b></a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    }
</ul>