@model AirportSystem.Services.Data.InputModels.FlightInputModel
@using AirportSystem.Data

@{
    this.ViewData["Title"] = "Create flight";
}

<h1>Create flight</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group col-md-6">
        <label asp-for="From"></label>
        <input asp-for="From" class="form-control" />
        <span asp-validation-for="From" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="To"></label>
        <input asp-for="To" class="form-control" />
        <span asp-validation-for="To" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="DepartureTime"></label>
        <input asp-for="DepartureTime" class="form-control" />
        <span asp-validation-for="DepartureTime" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="ArrivalTime"></label>
        <input asp-for="ArrivalTime" class="form-control" />
        <span asp-validation-for="ArrivalTime" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="FlightDuration"></label>
        <input asp-for="FlightDuration" class="form-control" />
        <span asp-validation-for="FlightDuration" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="FlightStatus"></label>
        <select asp-for="FlightStatus" class="form-control"
                asp-items="@Html.GetEnumSelectList<FlightStatus>()">
            <option>Select type ...</option>
        </select>
        <span asp-validation-for="FlightStatus" class="text-danger"></span>
    </div>

    @*<div class="form-group col-md-6">
        <label asp-for="FlightStatus"></label>
        <select asp-for="FlightStatus" class="form-control"
                asp-items="@Html.DropDownListFor<Views_Planes_All>()">
            <option>Select type ...</option>
        </select>
        <span asp-validation-for="FlightStatus" class="text-danger"></span>
    </div>*@

    <div class="form-group col-md-6">
        <label asp-for="AirportId"></label>
        <input asp-for="AirportId" class="form-control" />
        <span asp-validation-for="AirportId" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="PlaneId"></label>
        <input asp-for="PlaneId" class="form-control" />
        <span asp-validation-for="PlaneId" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>