@{
    this.ViewData["Title"] = "Flight not found";
}

<h1>No flight found by this requirements</h1>
<h1>Please go back and try again</h1>

<div>
    <h1 class="btn btn-primary">@Html.ActionLink("Back", "Search", "Flights")</h1>
</div>