@{
    this.ViewData["Title"] = "Flight not found";
}

<h1>No flight found by this identification number</h1>
<h1>Please insert valid id number and try again</h1>

<div>
    <h1 class="btn btn-primary">@Html.ActionLink("Back", "GetFlightById", "Flights")</h1>
</div>