@{
    this.ViewData["Title"] = "Travel line or plane not found";
}

<h1>@ViewBag.Massage</h1>
<h1>Incorect id</h1>
<h1>Please insert valid id number and try again</h1>

<div>
    <h1 class="btn btn-primary">@Html.ActionLink("Back", "Create", "Flights")</h1>
</div>
