@model AirportSystem.Web.ViewModels.SeatsViewModel
@inject AirportSystem.Services.Data.Seats.ISeatsService service
@{
    this.Layout = null;
    var seats = this.service.GetSeatsByPlaneId(Model.PlaneId);

    var rows = seats.Count() / 6;
}

<link href="https://dl.dropboxusercontent.com/u/30657696/practice/reset.css" rel="stylesheet">
<link href="~/Seats.css" rel="stylesheet" />
<script src="~/js/Seats.js"></script>

<body>
    <header class="seats-header">
        <h1>RESERVE A SEAT</h1>
    </header>
    <section id="seats">

        <div class="seating-chart">
            
            <ol class="first-class">
                @for (int i = 1; i <= rows; i++)
                {
                    <li class="row">
                        <ol>
                            <li><a class="available" data-seat="1a" >@i A</a></li>
                            <li><a class="available" data-seat="1b" >@i B</a></li>
                            <li><a class="available" data-seat="1c" >@i C</a></li>
                            <li><a class="available" data-seat="1d" >@i D</a></li>
                            <li><a class="available" data-seat="1d" >@i E</a></li>
                            <li><a class="available" data-seat="1d" >@i F</a></li>
                        </ol>
                    </li>
                }
            </ol>
        </div>
    </section>
</body>

