
@{
    this.ViewData["Title"] = "Seat already taken";
}

<h1>The seat you pick is already taken by another passenger!</h1>
<h1>Please go back and pick available seat.</h1>
<h1>Please look at mini map of available seats.</h1>

<h1 class="btn btn-primary">@Html.ActionLink("Back", "BookFlight", "Tickets")</h1>
