@inject AirportSystem.Services.Data.Airport.IAirportService service
@model AirportSystem.Web.ViewModels.AllAirportViewModel

@{
    this.ViewData["Title"] = "All airports";
}

<h1>All airports</h1>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Airports</h2>
                </div>

                <div class="component">
                    <table class="table table-hover" id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">City Id</th>
                                <th scope="col">City Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var airports = this.service.GetAllAirports();
                            }
                            @foreach (var item in airports)
                            {
                                <tr class="table-light">
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td>@item.CityId</td>
                                    <td>@item.CityName</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
                        {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });</script>
}



