@model AirportSystem.Services.Data.InputModels.CitiesInputModel

@{
    this.ViewData["Title"] = "Add new city";
}

<h1>Add new city</h1>

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>


    <div class="form-group col-md-6">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="CountryId"></label>
        <input asp-for="CountryId" class="form-control" />
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>