@inject AirportSystem.Services.Data.Airports.IAvioCompanyService service

@{
    this.ViewData["Title"] = "All avio companies";
}

<h1>All avio companies</h1>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Avio Companies</h2>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var planes = this.service.GetAll();
                            }
                            @foreach (var item in planes)
                            {
                                <tr class="table-light">
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>