<body style="background-color: transparent;">


    <div class="text-center">
        <h1 class="display-6">Welcome to our flight system!Are you ready to plan your travel?</h1>
    </div>
    <div class="row">
        <div class="column">
            <h2 style="font-family:tempus sans itc;">
                @*@if (User.IsInRole("Admin"))*@

                <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="Add"><b>Add new city</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="Add"><b>Add country</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Passengers" asp-action="Add"><b>Create your travel proffile</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="AddPlane"><b>All plane to avio copm</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="BookFlight"><b>BookFlight</b></a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Passports" asp-action="Edit"><b>Fill passport details</b></a>
                </h2>
                </div>
                <div class="column">
                    <h2 style="font-family:tempus sans itc;">

                        <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="Create"><b>Create Avio Company</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="Create"><b>Create new Airport</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="Create"><b>Create new flight</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="Create"><b>Create new plane</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Luggages" asp-action="Create"><b>Create your luggage</b></a>

                    </h2>
                </div>
                <div class="column">
                    <h2 style="font-family:tempus sans itc;">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Flights" asp-action="All"><b>All flights</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Countries" asp-action="All"><b>All countries</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Cities" asp-action="All"><b>All cities</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Planes" asp-action="All"><b>All planes</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Airports" asp-action="All"><b>All airports</b></a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="AvioCompanies" asp-action="All"><b>All avio companies</b></a>
                    </h2>
                </div>
                </div>

                </body>

                @*
                    <div class="muck-up">
                           <div class="overlay"></div>
                           <div class="content">
                               <div class="logo">
                                   <a href="/"><span class="fa fa-map-marker"></i></a>
                               </div>
                               <div class="header">
                                   <hr>
                                   <h4>Trave<span>ll</span>ers</h4>
                                   <p>Your Travel App</p>
                               </div>
                               <div class="login">
                                   <a class="btn connect-fb" href="#"><i class="ion-social-facebook"></i>Connect With<span>Facebook</span></a>
                                   <a class="btn connect-tw" href="#"><i class="ion-social-twitter-outline"></i>Connect With<span>Twitter</span></a>
                               </div>
                           </div>
                       </div>*@
