@inject AirportSystem.Services.Data.CitiesAndCountries.ICityService city
@inject AirportSystem.Services.Data.CitiesAndCountries.ICountryService country

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Cities</h2>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">CoutryId</th>
                                <th scope="col">CountryName</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var cities = city.GetAll();
                                var countries = country.GetAll();
                            }
                            @foreach (var item in cities)
                            {

                                <tr class="table-light">
                                    <th scope="row">@item.Id</th>
                                    <td>@item.Name</td>
                                    <td>@item.CountryId</td>
                                    <td>@item.Country.Name</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>