#mask {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 4;
    opacity: 0.4;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* first!*/
    filter: alpha(opacity=40); /* second!*/
    background-color: gray;
    display: none;
    width: 100%;
    height: 100%;
}

.popUp label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0em;
    display: block;
}
