@model AirportSystem.Services.Data.InputModels.CountryInputModel

@{
    this.ViewData["Title"] = "Add new country";
}

<h1 class="text-center">Add new country</h1>
<br />

<div class="container">
    <div class="row justify-content-md-center">
        <div class="column">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group col-md-12">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>