<h1 class="text-center mt-2">Create your luggage</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="luggageType" class="h3 mb-2">LuggageType</label>
        </div>
        <textarea row="20" class="form-control" id="luggageType" name="luggageType"></textarea>
        <div class="text-dark d-flex justify-content-center">
            <label for="weight" class="h3 mb-2">Weight</label>
        </div>
        <textarea row="20" class="form-control" id="weight" name="weight"></textarea>
    </div>
    
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Create</button>
    </div>
</form>