@using AirportSystem.Data
@model AirportSystem.Web.ViewModels.LuggageViewModel

@{
    this.ViewData["Title"] = "Edit your luggage";
}

<h1 class="text-center">Edit your luggage</h1>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="column">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group col-md-12">
                    <label asp-for="PassengerId"></label>
                    <input asp-for="PassengerId" class="form-control" />
                    <span asp-validation-for="PassengerId" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <label asp-for="PassengerFirstName"></label>
                    <input asp-for="PassengerFirstName" class="form-control" />
                    <span asp-validation-for="PassengerFirstName" class="text-danger"></span>
                </div>

                <div class="form-group col-md-12">
                    <div>
                        <label asp-for="LuggageType"></label>
                    </div>
                    <select asp-for="LuggageType" class="form-control"
                            asp-items="@Html.GetEnumSelectList<LuggageType>()">
                    </select>
                    <span asp-validation-for="LuggageType" class="text-danger"></span>
                    <br />
                    <br />
                    <br />
                    <div>
                        <text>Note: </text>
                    </div>
                    <div>
                        <div><text>* Selecting carry on bag doesn't effect the ticket price!</text></div>
                        <div> <text>* Selecting trolley bag increases price by 15%</text></div>
                        <div><text>* Selecting checked in bag increases price by 25%</text></div>
                    </div>
                    <br />
                    <div>
                        <div><text>* Permissible weight for carry on bag is 10 kg!</text></div>
                        <div><text>* Permissible weight for trolley bag is 20 kg!</text></div>
                        <div><text>* Permissible weight for checked in bag is 100 kg!</text></div>
                        <br />
                        <div><text>* Luggage will be checked at the airport.</text></div>
                    </div>
                </div>

                <br />
                <br />
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-block btn-primary text-white mb-3">Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>