
@{
    this.ViewData["Title"] = "Luggage not found";
}

<h1>No luggage found by this identification number</h1>
<h1>Please insert valid id number and try again</h1>

<h1 class="btn btn-primary">@Html.ActionLink("Back", "Search", "Luggages")</h1>
