
    <form action="/search.html" class="search-wrapper cf">
        <link href="C:\Users\User\Desktop\Airport System WebProject\Web\AirportSystem.Web\Views\Luggages\Search.css" rel="stylesheet" type="text/css" />
        <input type="text" placeholder="Looking for your luggages?" required="">
        <button type="submit">Search</button>
    </form>